@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exocet&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Cinzel', serif;
    background-color: #1e1e1e;
    color: #e0e0e0;
    margin-bottom: 80px; /* Adiciona margem inferior para evitar que o rodapé cubra o conteúdo */
}

header {
    background-color: #111;
    padding: 10px 0;
    border-bottom: 1px solid #444;
}

.center {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.logo img {
    width: 300px;
    height: 60px;
}

.menu a {
    color: #fff; /* Alterado para branco */
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    transition: color 0.3s ease;
}

.menu a:hover {
    color: #D41C1C;
}

.texto-sobre {
    text-align: center;
    margin: 50px 0;
}

.texto-sobre h1 {
    font-size: 48px;
    font-weight: 700;
    margin: 0;
    color: #FFFFFF;
}

.texto-sobre span {
    color: #e0e0e0;
}

.nova-imagem img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 50px auto;
}

section.sobre {
    padding: 50px 0;
    background-color: #111;
    color: #e0e0e0;
    text-align: center;
}

.diablo {
    font-size: 72px;
    font-weight: 700;
    color: #D41C1C;
    text-shadow: 0 0 10px #D41C1C, 0 0 20px #D41C1C, 0 0 30px #D41C1C;
    margin: 20px 0;
}

table.ranking {
    width: 100%;
    border-collapse: collapse;
    margin: 50px 0;
}

table.ranking th, table.ranking td {
    border: 1px solid #444;
    padding: 10px;
    text-align: center;
}

table.ranking th {
    background-color: #333;
    color: #e0e0e0;
    font-weight: 700;
}

table.ranking td a {
    color: #00BFFF; /* Alterado para branco */
    text-decoration: none;
    transition: color 0.3s ease;
}

table.ranking td a:hover {
    color: #00BFFF;
}

.diablo-title {
    font-size: 48px;
    font-weight: 700;
    color: #D41C1C;
    text-shadow: 0 0 10px #D41C1C, 0 0 20px #D41C1C, 0 0 30px #D41C1C;
    border-bottom: 0; /* Removendo a borda inferior */
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.regras {
    margin-bottom: 50px;
}

.regras h2 {
    font-size: 32px;
    font-weight: 700;
    color: #D41C1C;
    margin-bottom: 10px;
}

.regras ul {
    list-style-type: none;
    padding-left: 0;
}

.regras ul li {
    font-size: 18px;
    margin-bottom: 10px;
}

.regras ul li:before {
    content: "•";
    color: #D41C1C;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.regras ul li a {
    color: #1E90FF;
    text-decoration: none;
    transition: color 0.3s ease;
}

.regras ul li a:hover {
    color: #00BFFF;
}


.filter-links, .filter-general {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.filter-link {
    color: #BBBBBB;
    font-family: 'Exocet', sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin: 5px 10px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.filter-link:hover {
    color: #b31414;
}



footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #111;
    padding: 10px 0;
    text-align: center;
    color: #fff;
    z-index: 1000; /* Garante que o rodapé fique sobreposto a outros elementos */
}

footer img {
    margin: 0 20px; /* Adicione margem entre as imagens */
    vertical-align: middle; /* Alinha verticalmente as imagens */
}

.larger-image {
    width: 100px; /* Ajuste a largura conforme necessário */
}

.button-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.diablo-button {
    background-color: #260202;
    color: #e1c481;
    font-family: 'Exocet', serif;
    font-size: 24px;
    font-weight: bold;
    padding: 15px 30px;
    margin: 0 10px;
    border: 2px solid #D41C1C;
    border-radius: 8px;
    text-shadow: 0 0 5px #000, 0 0 10px #D41C1C;
    box-shadow: inset 0 0 5px #000, 0 0 10px #000;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    background-image: url('path_to_texture_image.jpg'); /* Adding a texture image for medieval look */
    background-size: cover;
}

.diablo-button:hover {
    background-color: #D41C1C;
    transform: scale(1.1);
}

/* Adding a medieval font to the buttons */
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

.diablo-button {
    font-family: 'MedievalSharp', serif;
}

/* Existing CSS styles */

#table {
    display: flex;
    flex-direction: column;
    font: 16px Tahoma;
  }
  
  #table > .row {
    padding: 8px;
    display: flex;
    justify-content: space-between;
  }
  
  .row:hover {
    color: white;
    background-color: blue;
  }
  
  .modo-hc {
    color: red;
}

#BotaoHardcore {
    color: rgb(161, 19, 19); /* Cor vermelha padrão */
    transition: color 0.3s ease; /* Transição suave para a mudança de cor */
}

#BotaoHardcore:hover {
    color: darkred; /* Cor vermelho escuro quando passa o mouse */
}

.supporter {
    margin: 0 10px; /* Espaçamento entre os apoiadores */
    display: inline-flex; /* Exibe os apoiadores em linha */
}

.supporter-content {
    display: flex;
    align-items: center;
}

.supporter img {
    width: 15px; /* Largura do ícone */
    height: 15px; /* Altura do ícone */
    margin-right: 5px; /* Espaçamento entre o ícone e o nome */
}

.supporter span {
    font-size: 12px; /* Tamanho do texto */
    color: #fff; /* Cor do texto */
    margin-top: 3px; /* Adicionando margem superior */
}

.supporter-content {
    margin-right: 20px; /* Adiciona espaçamento entre cada apoiador */
}

.supporter-content a {
    color: #fff; /* Define a cor do texto */
    text-decoration: none; /* Remove a decoração de texto padrão */
    display: inline-block; /* Permite que o link se comporte como um bloco, tornando o nome clicável */
    transition: color 0.3s ease; /* Adiciona uma transição suave de cor */
}

.supporter-content a:hover {
    color: #D41C1C; /* Altera a cor do texto ao passar o mouse */
}

.thin-bar {
    margin-top: 2px; /* Adiciona espaçamento superior de 10px */
    background-color: #000000;
}

#hardcoretierlevel {

    color: rgb(182, 14, 14);
}
